{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}
    <div class="product-detail">
        <div class="design-images">
            <div class="flex-container">
                <img src="{% if product.image2 %}{{ product.image2.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" onclick="swapImage(this)" id="image2">
                <img src="{% if product.image3 %}{{ product.image3.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image3" onclick="swapImage(this)">
                <img src="{% if product.image4 %}{{ product.image4.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image4" onclick="swapImage(this)"> 
                <img src="{% if product.image5 %}{{ product.image5.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image5" onclick="swapImage(this)"> 
                <img src="{% if product.image6 %}{{ product.image6.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image6" onclick="swapImage(this)"> 
                <img src="{% if product.image7 %}{{ product.image7.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image7" onclick="swapImage(this)"> 
            </div>
            <div class="show-center">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="main-image" style="display:block; width: 100%;" id="main-image">
                <div class="magnifier">
                    <div class="magnifier-preview"></div>
                </div>
            </div>
            <div class="detail-object">
                <h1>{{ product.name }}</h1>
                
                <h2>
                    <a href="{{ product.category.get_absolute_url }}">
                        {{ product.category }}
                    </a>
                </h2>
                <p class="price">KES. {{ product.price }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="{% trans 'Add to cart' %}">
                </form>
                {{ product.description|linebreaks }}
            </div>
        </div>
        
        {% if recommended_products %}
            <div class="recommendations">
                <h3>{% trans "People who bought this also bought" %}</h3>
                {% for p in recommended_products %}
                    <div class="item">
                        <a href="{{ p.get_absolute_url }}">
                            <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                            
                        </a>
                        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <style>
        .design-images{
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 20px;
            border: 1px;
            margin: 0px;
            
        }
        .flex-container {
            display: flex;
            flex-direction: column;
            width: 150px;
        }
        .smaller-image {
            width: 200px;
            border-radius: 100%;
            overflow: hidden;
        }
        .detail-object {
            padding-left: 100px;
        }

        .magnifier {
            position: absolute;
            display: none;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px solid #ccc;
            overflow: hidden;
            pointer-events: none;
            z-index: 999;
            transform: translate(-50%, -50%); /* Add this line to center the magnifier around the cursor */
            margin-left: -100px; /* Add this line to center the magnifier around the cursor */
            margin-top: -100px; /* Add this line to center the magnifier around the cursor */
        }

        .magnifier-preview {
            position: absolute;
            top: 50%;
            right: calc(100% + 10px); /* Add this line to position the preview on the right */
            width: 400px;
            height: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            filter: blur(10px); /* Add this line to apply the blur effect */
        }


        .show-center {
            position: relative;
            width: 100%;
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
    <script>
        function swapImage(sideImage) {
            // Get the main image element
            var mainImage = document.getElementById("main-image");

            // Get the URLs for the main and side images
            var mainImageSrc = mainImage.src;
            var sideImageSrc = sideImage.src;

            // Swap the image sources
            mainImage.src = sideImageSrc;
            sideImage.src = mainImageSrc;
        }

        // $(document).ready(function() {
        //     $('#main-image').zoom();
        // });

        const container = document.querySelector('.show-center');
            const image = container.querySelector('img');
            const magnifier = container.querySelector('.magnifier');
            const preview = container.querySelector('.magnifier-preview');

            container.addEventListener('mousemove', function(e) {
            const x = e.pageX - container.offsetLeft;
            const y = e.pageY - container.offsetTop;
            const offsetX = magnifier.offsetWidth / 2;
            const offsetY = magnifier.offsetHeight / 2;
            const scale = 2;

            magnifier.style.display = 'block';
            magnifier.style.left = x + 'px';
            magnifier.style.top = y + 'px';
            magnifier.style.backgroundImage = `url(${image.src})`;
            magnifier.style.backgroundPosition = `-${x - offsetX}px -${y - offsetY}px`;

            preview.style.backgroundImage = `url(${image.src})`;
            preview.style.backgroundPosition = `-${(x * scale) - (offsetX * scale)}px -${(y * scale) - (offsetY * scale)}px`;
        });

        container.addEventListener('mouseleave', function() {
        magnifier.style.display = 'none';
        preview.style.backgroundPosition = 'center';
        });





    </script>
{% endblock %}