{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}
    <div class="product-detail">
        <div class="design-images">
            <div class="flex-container">
                <img src="{% if product.image2 %}{{ product.image2.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" onclick="swapImage(this)" id="image2">
                <img src="{% if product.image3 %}{{ product.image3.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image3" onclick="swapImage(this)">
                <img src="{% if product.image4 %}{{ product.image4.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image4" onclick="swapImage(this)"> 
                <img src="{% if product.image5 %}{{ product.image5.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image5" onclick="swapImage(this)"> 
                <img src="{% if product.image6 %}{{ product.image6.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image6" onclick="swapImage(this)"> 
                <img src="{% if product.image7 %}{{ product.image7.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="smaller-image" id="image7" onclick="swapImage(this)">
                <br><br><br><br><br><br>
                <div class="video-container" id="video1">
                    <video controls width="200px" height="200px">
                        <source src="{% if product.video1 %}{{ product.video1.url }}{% else %}{% static 'vid/no_video.mp4' %}{% endif %}" type="{{ product.video1.content_type }}">
                    </video>
                    <video controls width="200px" height="200px">
                        <source src="{% if product.video1 %}{{ product.video1.url }}{% else %}{% static 'vid/no_video.mp4' %}{% endif %}" type="{{ product.video1.content_type }}">
                    </video>                    
                </div>
                
            </div>
            <div class="show-center">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="main-image" style="display:block; width: 600px; height: 400px;" id="main-image">
                <div class="magnifier"></div>
            </div>
            <div class="detail-object">
                <h1>{{ product.name }}</h1>
                
                <h2>
                    <a href="{{ product.category.get_absolute_url }}">
                        {{ product.category }}
                    </a>
                </h2>
                <button type="button" class="btn" style="height: auto; width:200px; background: #5993bb;"><a href="{{ product.video2 }}" style="color: white; text-decoration: none; font-weight: 700; font-size: larger;">Experience Reality</a></button>
                <p class="price">KES. {{ product.price }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="{% trans 'Add to cart' %}">
                </form>
                {{ product.description|linebreaks }}
            </div>
        </div>
        
        {% if recommended_products %}
            <div class="recommendations">
                <h3>{% trans "People who bought this also bought" %}</h3>
                {% for p in recommended_products %}
                    <div class="item">
                        <a href="{{ p.get_absolute_url }}">
                            <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                            
                        </a>
                        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <style>
        .design-images{
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 20px;
            border: 1px;
            margin: 0px;
            
        }
        
        .flex-container {
            display: flex;
            flex-direction: column;
            width: 150px;
            border: 10px black;
        }
        .video-container {
            display: flex;
            flex-direction: row;
            gap: 20px;
            height: 200px;
        }
        .smaller-image {
            width: 200px;
            overflow: hidden;
            padding: 5px;
        }
        .detail-object {
            padding-left: 200px;
        }
        .magnifier {
            position: absolute;
            display: none;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            border: 1px solid #ccc;
            overflow: hidden;
            pointer-events: none;
            z-index: 999;
        }

        .show-center {
            position: relative;
            width: 400px;
            height: 400px;
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
    <script>
        function swapImage(sideImage) {
            // Get the main image element
            var mainImage = document.getElementById("main-image");

            // Get the URLs for the main and side images
            var mainImageSrc = mainImage.src;
            var sideImageSrc = sideImage.src;

            // Swap the image sources
            mainImage.src = sideImageSrc;
            sideImage.src = mainImageSrc;
        }

        // $(document).ready(function() {
        //     $('#main-image').zoom();
        // });

        const container = document.querySelector('.show-center');
        const image = container.querySelector('img');
        const magnifier = container.querySelector('.magnifier');

        container.addEventListener('mousemove', function(e) {
            const x = e.pageX - container.offsetLeft;
            const y = e.pageY - container.offsetTop;
            const offsetX = magnifier.offsetWidth / 2;
            const offsetY = magnifier.offsetHeight / 2;

            magnifier.style.display = 'block';
            magnifier.style.left = x - offsetX + 'px';
            magnifier.style.top = y - offsetY + 'px';
            magnifier.style.backgroundImage = `url(${image.src})`;
            magnifier.style.backgroundPosition = `-${(x * 2) - offsetX}px -${(y * 2) - offsetY}px`;
        });

        container.addEventListener('mouseleave', function() {
            magnifier.style.display = 'none';
        });

        
        
    </script>
{% endblock %}