{% extends "shop/base.html" %}

{% load i18n %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>{% trans "Categories" %}</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">{% trans "All" %}</a>                
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="product-list" id="main">
        <h1>{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
        </h1>
        {% for product in products %}
            <div class="item">
                <div>
                    <a href="{{ product.get_absolute_url }}" class="image-show">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" style="width: 100%; " class="image" 
                        data-image1="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                        data-image2="{% if product.image2 %}{{ product.image2.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                        onmouseover="toggleImage(this, true)" 
                        onmouseout="toggleImage(this, false)">
                    </a>
                </div>
                <div class="meta-data">
                    <span class="product-name">
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    </span>
                   <span class="product-cost">
                        KES. {{ product.price }}
                   </span>
                </div>  
            </div>
        {% endfor %}
    </div>
    <style>
        .item {
            display: flex;
            flex-direction: column;
            padding: 0px;
        }
        .image {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            width: 100%;
        }
        .meta-data {
            display: flex;
            flex-direction: row;
            background-color: brown;
            padding: 20px;
            text-align: start;
            column-gap: 30%;
        }
        /* .product-price {
            text-align: center;
            border-width: 20px;
        } */
    </style>
    <script>
        function toggleImage(img, hover) {
            if (hover) {
                img.src = img.dataset.image2;
            } else {
                img.src = img.dataset.image1;
            }
        }
    </script>

{% endblock %}